<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/icon.png"/>
  <title>COVID Training</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
   
  <h1><a href="/index"><b>COVID Training</b></a></h1>
     
     <button type="button" class="btn" onclick="location.href = '/login'">Login</button>
     <button type="button" class="btn" onclick="location.href = '/signup'">Register</button>
   
</body>
</html>